<!DOCTYPE html>
<html>
<head>
  <title>Edit</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Edit Task</h1>

    <form action="/update/<%= item.id %>" method="POST" class="form">
      <input type="text" name="name" value="<%= item.name %>" required>
      <input type="text" name="description" value="<%= item.description %>" required>
      <button>Update</button>
    </form>
  </div>
</body>
</html>
